<nav class="offcanvas offcanvas-start" tabindex="-1" id="navgation-sidebar">
<div class="offcanvas-header border-bottom border-secondary border-opacity-25">
<h5 class="offcanvas-title"><img src="/logo.png" alt="Logo" width="20" class="d-inline-block align-text-top"> Docs</h5>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar-example"></button>
</div>
<div class="offcanvas-body">
      <div class="mt-2 mb-3">
        <input type="text" class="form-control" placeholder="Search the docs" id="search-input" />
        <div class="mt-10 font-size-12">Press <kbd>/</kbd> to focus</div>
        <div id="search-results"></div>
      </div>
      <ul class="navbar-nav justify-content-end">
{% for entry in collections.all | eleventyNavigation %}
<li class="nav-item border-bottom">
    <h5>
      <a class="nav-link {% if entry.url == page.url %}active{% endif %}" href="{{ entry.url }}">{{ entry.title }}</a>
    </h5>
</li>
    {% if entry.children.length > 0 %} {% for child in entry.children %}
    <li class="nav-item">
    <a href="{{ child.url }}" class="nav-link {% if child.url in page.url %} active{% endif %}">{{ child.title }}</a>
</li>
    {% endfor %} {% endif %} 
    <br />
    {%- endfor %}
      </ul>
    </div>
</nav>