{% if content | toc %}
<div class="accordion">
<details class="accordion-item" data-pagefind-ignore="all">
<summary class="accordion-button">
<div class="accordion-header">On this page</div>
</summary>

<div class="accordion-body">
    <div id="toc">
      {{ content | toc | safe }}
    </div>
</div>
</details>
</div>
{% endif %}