<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.ttnrtsite.me/styles/halfmoon/halfmoon.min.css" rel="stylesheet">
  <title>{% if eleventyNavigation.title %}{{ eleventyNavigation.title }} {% endif %} | TTNRT</title>
  <link href="/pagefind/pagefind-modular-ui.css" rel="stylesheet" />
  <script src="/pagefind/pagefind-modular-ui.js"></script>
  <link rel="stylesheet" href="https://cdn.ttnrtsite.me/styles/fontawesome/css/all.min.css" />
  <script src="/config.js"></script>
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">

<nav class="sidebar offcanvas-start offcanvas-md" tabindex="-1" id="sidebar-example">
<div class="offcanvas-header border-bottom border-secondary border-opacity-25">
<a class="sidebar-brand" href="/">
<img src="/logo.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
Docs
</a>
<button type="button" class="btn-close d-md-none" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar-example"></button>
</div>
<div class="offcanvas-body">
      <div class="mt-2 mb-3">
        <input type="text" class="form-control" placeholder="Search the docs" id="search-input" />
        <div class="mt-10 font-size-12">Press <kbd>/</kbd> to focus</div>
        <div id="search-results"></div>
      </div>
      <ul class="sidebar-nav">
{% for entry in collections.all | eleventyNavigation %}
<li>
    <h5 class="sidebar-header">
      <a href="{{ entry.url }}">{{ entry.title }}</a>
    </h5>
</li>
<li><hr class="sidebar-divider"></li>
    {% if entry.children.length > 0 %} {% for child in entry.children %}
    <li class="nav-item">
    <a href="{{ child.url }}" class="nav-link">{{ child.title }}</a>
</li>
    {% endfor %} {% endif %} 
    <br />
    {%- endfor %}
      </ul>
    </div>
</nav>

<div id="app" class="p-2 mb-2">
<div class="container-fluid">
<button type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-example" class="btn btn-secondary d-md-none">Open sidebar</button>
{{ content | safe }}
<br>

<div class="card">
<div class="card-body">
<a class="btn btn-primary" role="button" href="{{ urls.docsSourcesMaster }}/{{ page.inputPath }}" target="_blank"><i class="fa-solid fa-file"></i> View source</a>
<a class="btn btn-primary" role="button" href="{{ urls.commitHistoryMaster }}/{{ page.inputPath }}" target="_blank"><i class="fa-solid fa-clock"></i> Page history</a>
</div>
</div>

</div>
</div>
<script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const instance = new PagefindModularUI.Instance();
        instance.add(
          new PagefindModularUI.Input({
            containerElement: '#search-input',
          }),
        );
        instance.add(
          new PagefindModularUI.ResultList({
            containerElement: '#search-results',
          }),
        );
        document.addEventListener(
          'keydown',
          (event) => {
            if (event.key == '/') {
              event.preventDefault();
              document.getElementById('search-input').focus();
            }
          },
          false,
        );
      });
</script>
<script src="https://cdn.ttnrtsite.me/styles/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>